@charset "UTF-8";
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 66.0625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  padding: 0.875rem 1.875rem;
  background-color: #EC5863;
  border-radius: 0.3125rem;
  text-transform: uppercase;
}
.button:hover {
  background-color: #ec5862da;
}
.button_blue {
  background-color: #4285F4;
}
.button_blue:hover {
  background-color: #4286f4de;
}

.block-text__title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.25;
  color: #000000;
}
@media (max-width: 47.99875em) and (min-width: 67.9375em) {
  .block-text__title {
    font-size: 2.75rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 67.9375em) {
  .block-text__title {
    font-size: clamp( 2.1875rem , 1.9528194263rem  +  1.1734028683vw , 2.75rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .block-text__title {
    font-size: 2.1875rem;
  }
}
.block-text__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.block-text__title span {
  color: #EC5863;
}
.block-text__title_blue span {
  color: #4285F4;
}
.block-text__text {
  line-height: 1.4166666667;
  letter-spacing: 0.08em;
}
.block-text__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.decor {
  position: absolute;
  border-radius: 1.875rem;
  width: 4.8125rem;
  height: 4.8125rem;
  background-color: #EC5863;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 55;
  min-width: 320px;
}
.header__container {
  display: flex;
  min-height: 7.3125rem;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 5rem;
  }
}
.header__logo {
  padding-right: 0.9375rem;
}
@media (max-width: 29.99875em) {
  .header__logo {
    width: 2.5rem;
    overflow: hidden;
  }
}
@media (max-width: 47.99875em) {
  .header__logo {
    position: relative;
    z-index: 56;
  }
}
.header__menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
.header__button-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 67.9375em) {
  .header__button-wrapper {
    flex-basis: 15.75rem;
  }
}
@media (min-width: 48em) and (max-width: 67.9375em) {
  .header__button-wrapper {
    flex-basis: clamp( 9.5rem , -5.5470219436rem  +  31.3479623824vw , 15.75rem );
  }
}
@media (max-width: 47.99875em) {
  .header__button-wrapper {
    position: relative;
    z-index: 56;
  }
}
@media (max-width: 47.99875em) {
  .header__button {
    margin-right: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #fff;
  }
}
.menu__list {
  display: flex;
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 67.9375em) {
  .menu__item {
    margin-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .menu__item {
    margin-right: clamp( 0.9375rem , 0.2856095176rem  +  3.259452412vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .menu__item {
    margin-right: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__item {
    margin: 0 0 1.875rem 0;
  }
}
.menu__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #000;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #EC5863;
}
@media (max-width: 47.99875em) {
  .menu__link {
    color: #616161;
    font-size: 0.9375rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (min-width: 67.9375em) {
  .footer {
    padding-top: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .footer {
    padding-top: clamp( 0.9375rem , 0.1552314211rem  +  3.9113428944vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 67.9375em) {
  .footer {
    padding-bottom: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .footer {
    padding-bottom: clamp( 0.9375rem , 0.1552314211rem  +  3.9113428944vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 0.9375rem;
  }
}
.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 67.9375em) {
  .footer__items {
    gap: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .footer__items {
    gap: clamp( 0.9375rem , -0.1055247718rem  +  5.2151238592vw , 3.4375rem );
  }
}
@media (max-width: 20em) {
  .footer__items {
    gap: 0.9375rem;
  }
}
.get-started {
  background-color: #FAFBFD;
}
.get-started__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
@media (min-width: 67.9375em) {
  .get-started__container {
    padding-top: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .get-started__container {
    padding-top: clamp( 5rem , 3.1747066493rem  +  9.1264667536vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .get-started__container {
    padding-top: 5rem;
  }
}
@media (min-width: 67.9375em) {
  .get-started__container {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .get-started__container {
    padding-bottom: clamp( 1.875rem , 1.3534876141rem  +  2.6075619296vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .get-started__container {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 47.99875em) {
  .get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    transform: translate(100%, 0px);
    border-radius: 1.25rem 0px 0px 1.25rem;
    background-color: #EC5863;
  }
}
@media (min-width: 47.99875em) and (min-width: 67.9375em) {
  .get-started__container::before {
    right: 15.75rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 67.9375em) {
  .get-started__container::before {
    right: clamp( 10.4375rem , -2.352468652rem  +  26.6457680251vw , 15.75rem );
  }
}
@media (min-width: 61.99875em) {
  .get-started__container::before {
    border-radius: 1.875rem 0px 0px 1.875rem;
  }
}
.get-started__content {
  flex: 0 1 47.3036896878%;
  padding: 0px 0.9375rem 0px 1.25rem;
}
@media (max-width: 47.99875em) {
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
}
.get-started__block-text {
  max-width: 25.625rem;
}
@media (max-width: 47.99875em) {
  .get-started__block-text {
    max-width: none;
  }
}
.get-started__image {
  flex: 0 1 52.6963103122%;
  padding: 0px 0.625rem 0px 0px;
}
@media (max-width: 47.99875em) {
  .get-started__image {
    flex: 1 1 100%;
    padding: 1.5625rem 0;
    align-self: center;
  }
}
.get-started__image-ibg {
  padding-bottom: 70.7360861759%;
}
@media (max-width: 47.99875em) {
  .get-started__image-ibg {
    max-width: 34.1875rem;
    margin: 0 auto;
  }
  .get-started__image-ibg img {
    object-fit: contain;
  }
}
.get-started__video {
  padding: 0;
}
@media (min-width: 47.99875em) {
  .get-started__video {
    flex: 1 1 100%;
    padding: 3.75rem 0px 0px 1.25rem;
  }
}

.video-get-started {
  display: inline-flex;
  align-items: center;
}
.video-get-started__icon {
  flex: 0 0 2.75rem;
}
.video-get-started__body {
  padding: 0px 0px 0px 0.75rem;
}
.video-get-started__title {
  font-size: 0.8125rem;
  line-height: 1.2307692308;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}
.video-get-started__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.video-get-started__text {
  font-size: 0.5625rem;
  line-height: 1.2222222222;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 67.9375em) {
  .stay-safe {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .stay-safe {
    padding-top: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem );
  }
}
@media (max-width: 20em) {
  .stay-safe {
    padding-top: 1.875rem;
  }
}
@media (min-width: 67.9375em) {
  .stay-safe {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .stay-safe {
    padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem );
  }
}
@media (max-width: 20em) {
  .stay-safe {
    padding-bottom: 1.875rem;
  }
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .stay-safe__container {
    flex-direction: column-reverse;
  }
}
.stay-safe__media {
  flex: 0 1 50%;
}
@media (min-width: 67.9375em) {
  .stay-safe__media {
    padding-left: 2.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 67.9375em) {
  .stay-safe__media {
    padding-left: clamp( 0.00000625rem , -7.0720790165rem  +  14.7335109718vw , 2.9375rem );
  }
}
.stay-safe__content {
  flex: 0 1 50%;
}
@media (min-width: 20em) and (max-width: 48em) {
  .stay-safe__block-text {
    margin-bottom: clamp( 1.5625rem , 0.8928571429rem  +  3.3482142857vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .stay-safe__block-text {
    margin-bottom: 1.5625rem;
  }
}
.stay-safe__block-text .block-text__text {
  max-width: 22.6875rem;
}
@media (max-width: 47.99875em) {
  .stay-safe__block-text .block-text__text {
    max-width: none;
  }
}

.media-stay-safe {
  width: 23.25rem;
  padding: 3.5rem 0px 1.6875rem;
  text-align: center;
  position: relative;
}
@media (max-width: 61.99875em) {
  .media-stay-safe {
    width: 18.125rem;
  }
}
.media-stay-safe__image {
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  width: 61.5%;
}
.media-stay-safe__image img {
  position: relative;
  z-index: 3;
  max-width: 100%;
}
.media-stay-safe__image::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 1.6875rem;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  position: absolute;
  left: 5%;
  bottom: -0.75rem;
  z-index: 2;
}
.media-stay-safe .decor_1 {
  width: 9.1875rem;
  height: 9.1875rem;
  top: 0%;
  left: 3%;
}
.media-stay-safe .decor_2 {
  bottom: -1%;
  left: 9%;
}
.media-stay-safe .decor_3 {
  bottom: 20%;
  right: 10%;
}

.experts {
  background-color: #FAFBFD;
}
@media (min-width: 67.9375em) {
  .experts {
    padding-top: 6.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .experts {
    padding-top: clamp( 1.875rem , -0.0806714472rem  +  9.778357236vw , 6.5625rem );
  }
}
@media (max-width: 20em) {
  .experts {
    padding-top: 1.875rem;
  }
}
@media (min-width: 67.9375em) {
  .experts {
    padding-bottom: 7.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .experts {
    padding-bottom: clamp( 1.25rem , -1.2271838331rem  +  12.3859191656vw , 7.1875rem );
  }
}
@media (max-width: 20em) {
  .experts {
    padding-bottom: 1.25rem;
  }
}
.statistic-experts {
  max-width: 40.875rem;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 67.9375em) {
  .statistic-experts {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .statistic-experts {
    margin-bottom: clamp( 2.8125rem , 1.8998533246rem  +  4.5632333768vw , 5rem );
  }
}
@media (max-width: 20em) {
  .statistic-experts {
    margin-bottom: 2.8125rem;
  }
}
.statistic-experts__body {
  position: relative;
}
.statistic-experts__body .decor_1 {
  width: 4.0625rem;
  height: 4.0625rem;
  transform: rotate(-30deg);
  border-radius: 1rem;
  bottom: -1.875rem;
  left: -3%;
}
.statistic-experts__body .decor_2 {
  width: 6rem;
  height: 6rem;
  top: -3.125rem;
  left: 34%;
  transform: rotate(23deg);
}
.statistic-experts__body .decor_3 {
  width: 7.9375rem;
  height: 7.9375rem;
  bottom: -9%;
  right: -9%;
  transform: rotate(-30deg);
}

.body-statistic-experts {
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.body-statistic-experts__list {
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
  align-items: center;
  padding: 1.75rem 5rem;
}
@media (max-width: 61.99875em) {
  .body-statistic-experts__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .body-statistic-experts__list {
    flex-direction: column;
    padding: 1.25rem 0.625rem;
  }
}
.body-statistic-experts__item {
  text-align: center;
}
.body-statistic-experts__value {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1944444444;
  letter-spacing: 0.14em;
  color: #EC5863;
}
.body-statistic-experts__title {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000;
}

.body-experts {
  display: flex;
}
@media (max-width: 47.99875em) {
  .body-experts {
    flex-direction: column;
  }
}
.body-experts__block-text {
  flex: 0 1 50%;
  align-self: center;
  padding: 0px 0.9375rem 0px 2.5rem;
}
.body-experts__block-text .block-text__text {
  max-width: 22.6875rem;
}
@media (max-width: 47.99875em) {
  .body-experts__block-text {
    margin-bottom: 1.875rem;
    padding: 0;
  }
  .body-experts__block-text .block-text__text {
    max-width: none;
  }
}
.body-experts__video {
  flex: 0 1 50%;
}

.video {
  padding: 0 0.4375rem 54.5105566219% 0;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}
@media (max-width: 47.99875em) {
  .video {
    padding-right: 0;
  }
}
.video__poster {
  position: absolute;
  background: url("../img/experts/poster.jpg") 40% 50%/64% 82% no-repeat #fff;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.video__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 43%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #587EEC;
}
.video__button::after {
  position: absolute;
  top: 0.875rem;
  left: 1rem;
  content: "";
  display: block;
  border-top: 0.375rem solid transparent;
  border-left: 0.625rem solid #fff;
  border-bottom: 0.375rem solid transparent;
}
.video__button:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}
.video video {
  position: absolute;
  background: #fff url("../img/experts/poster.jpg") 40% 50%/cover no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: 64% 82%;
}

@media (min-width: 67.9375em) {
  .healthcare {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .healthcare {
    padding-top: clamp( 1.25rem , -0.3145371578rem  +  7.8226857888vw , 5rem );
  }
}
@media (max-width: 20em) {
  .healthcare {
    padding-top: 1.25rem;
  }
}
@media (min-width: 67.9375em) {
  .healthcare {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .healthcare {
    padding-bottom: clamp( 0.625rem , 0.1034876141rem  +  2.6075619296vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .healthcare {
    padding-bottom: 0.625rem;
  }
}
.healthcare__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 67.9375em) {
  .healthcare__block-text {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .healthcare__block-text {
    margin-bottom: clamp( 1.875rem , 1.4838657106rem  +  1.9556714472vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .healthcare__block-text {
    margin-bottom: 1.875rem;
  }
}
.healthcare__block-text .block-text__text {
  max-width: 37.5rem;
  text-align: center;
}
.healthcare__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}
@media (min-width: 67.9375em) {
  .healthcare__list {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 48em) and (max-width: 67.9375em) {
  .healthcare__list {
    padding-left: clamp( 0.00000625rem , -5.2664363832rem  +  10.9717554859vw , 2.1875rem );
  }
}
@media (min-width: 67.9375em) {
  .healthcare__list {
    padding-right: 2.1875rem;
  }
}
@media (min-width: 48em) and (max-width: 67.9375em) {
  .healthcare__list {
    padding-right: clamp( 0.00000625rem , -5.2664363832rem  +  10.9717554859vw , 2.1875rem );
  }
}
@media (min-width: 67.9375em) {
  .healthcare__list {
    gap: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .healthcare__list {
    gap: clamp( 0.9375rem , -0.5488102999rem  +  7.4315514993vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .healthcare__list {
    gap: 0.9375rem;
  }
}
.item-healthcare {
  position: relative;
}
.item-healthcare__body {
  padding: 2.25rem 1.0625rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  position: relative;
  z-index: 2;
}
.item-healthcare__image-ibg {
  padding: 0px 0px 25.8992805755% 0px;
}
@media (min-width: 67.9375em) {
  .item-healthcare__image-ibg {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 67.9375em) {
  .item-healthcare__image-ibg {
    margin-bottom: clamp( 1.25rem , 0.2069752282rem  +  5.2151238592vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .item-healthcare__image-ibg {
    margin-bottom: 1.25rem;
  }
}
.item-healthcare__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
}
.item-healthcare__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.item-healthcare__text {
  line-height: 1.4166666667;
  text-align: center;
  letter-spacing: 0.08em;
}
.item-healthcare_1 .decor_1 {
  width: 4.0625rem;
  height: 4.0625rem;
  transform: rotate(-30deg);
  border-radius: 1rem;
  bottom: -1.875rem;
  left: -3%;
}
.item-healthcare_1 .decor_2 {
  width: 6rem;
  height: 6rem;
  top: 15%;
  right: -19%;
  transform: rotate(23deg);
}
.item-healthcare_2 .decor_1 {
  width: 7.9375rem;
  height: 7.9375rem;
  transform: rotate(-30deg);
  bottom: -1.875rem;
  right: -27%;
}
.item-healthcare_3 .decor_1 {
  width: 4.0625rem;
  height: 4.0625rem;
  transform: rotate(-30deg);
  border-radius: 1rem;
  top: -10%;
  right: -9%;
}
@media (max-width: 35.25rem) {
  .item-healthcare_3 .decor_1 {
    top: 81%;
    right: 91%;
  }
}
