// Заголовки, общие БЄМ блоки и проче...

.button {
    display: inline-block;
    font-family: Raleway;
    font-weight: 800;
    font-size: rem(10);
    line-height: math.div(12,10);
    letter-spacing: 0.14em;
    color: #FCFDFE;
    padding: rem(14) rem(30);
    background-color: $accentColor;
    border-radius: rem(5);
    &:hover {
        background-color: #ec5862da;
    }

    // .button_blue
    &_blue {
        background-color: #4285F4;
        &:hover {
            background-color: #4286f4de;
        }
    }
}

.block-text {
    // .block-text__title
    &__title {
        font-weight: 700;
        font-size: rem(44);
        line-height: math.div(55,44);
        color: #000000;
        @media (max-width:$mobile){
            @include adaptiveValue("font-size",44,35); 
        }
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
        span {
            color: $accentColor;
        }
        &_blue {
            span {
                color: #4285F4;
            }
        }
        
    }

    // .block-text__text
    &__text {
        line-height: math.div(17,12);
        letter-spacing: 0.08em;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    // .block-text__button
    &__button {
    }
}