//====================================================================================================
.main {

    // .main__get-started

    &__get-started {
    }

    // .main__stay-safe

    &__stay-safe {
    }
    // .main__experts
    &__experts {
    }

    // .main__healthcare

    &__healthcare {
    }
}

.get-started {
    background-color:  #FAFBFD;
    

    // .get-started__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        @include adaptiveValue("padding-top",150,80);
        @include adaptiveValue("padding-bottom",50,30);
        @media (min-width:$mobile) {
            &::before{
                content:'';
                position: absolute;
                width: 100vw;
                height: 100%;
                top: 0;
                @include adaptiveValue("right", 252, 167, 1087, 768);
                transform: translate(100%, 0px);
                border-radius: rem(20) 0px 0px rem(20);
                background-color: $accentColor;
            } 
        }
        @media (min-width:$tablet){
            &::before {
                border-radius: rem(30) 0px 0px rem(30);
            }
        }
        
    }

    // .get-started__content

    &__content {
        flex: 0 1 percent(500,1057);
        padding: 0px rem(15) 0px rem(20);
        @media (max-width:$mobile){
            flex: 1 1 100%;
            padding: 0;
        }
    }

    // .get-started__block-text

    &__block-text {
        max-width: rem(410);
        @media (max-width:$mobile){
            max-width: none;
        }
    }


    &__image {
        flex: 0 1 percent(557,1057);
        padding: 0px rem(10) 0px 0px;
        @media (max-width:$mobile){
            flex: 1 1 100%;
            padding: rem(25) 0;
            align-self: center;
        }
    }
    // .get-started__image-ibg

    &__image-ibg {
        padding-bottom: percent(394,557);
        @media (max-width:$mobile){
            max-width: rem(547);
            margin: 0 auto;
            img {
                object-fit: contain;
            }
        }
    }

    // .get-started__video

    &__video {
        padding: 0;
        @media (min-width:$mobile){
            flex: 1 1 100%;
            padding: rem(60) 0px 0px rem(20);
        }
    }
}


.video-get-started {
    display: inline-flex;
    align-items: center;
    // .video-get-started__icon

    &__icon {
        flex: 0 0 rem(44);
    }

    // .video-get-started__body

    &__body {
        padding: 0px 0px 0px rem(12);
    }

    // .video-get-started__title
    &__title {
        font-size: rem(13);
        line-height: math.div(16,13);
        letter-spacing: 0.08em;
        color: #B0B0B0;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    // .video-get-started__text
    &__text {
        font-size: rem(9);
        line-height: math.div(11,9);
        letter-spacing: 0.165em;
        text-transform: uppercase;
        color: #000000;
    }
}

//====================================================================================================

.stay-safe {
    @include adaptiveValue("padding-top",80,30);
    @include adaptiveValue("padding-bottom",80,30);

    // .stay-safe__container

    &__container {
        display: flex;
        align-items: center;
        @media (max-width:$mobile){
            flex-direction: column-reverse;
        }
    }

	// .stay-safe__media

	&__media {
        flex: 0 1 50%;
        @include adaptiveValue("padding-left",47,0,1087,768);
	}

    // .stay-safe__content

    &__content {
        flex: 0 1 50%;
    }

    // .stay-safe__block-text

    &__block-text {
        @include adaptiveValue("margin-bottom",40,25,768,320); 
        .block-text__text {
            max-width: rem(363);
        }
        @media (max-width:$mobile){
            .block-text__text {
                max-width: none;
            }
        }
    }
}

.media-stay-safe {
    width: rem(372);
    padding: rem(56) 0px rem(27);
    text-align: center;
    position: relative;
    @media (max-width:$tablet){
        width: rem(290);
    }
    // .media-stay-safe__image
    &__image {
        box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
        border-radius: rem(16);
        display: inline-block;
        position: relative;
        width: 61.5%;
        img {
            position: relative;
            z-index: 3;
            max-width: 100%;
        }
        &::after {
            content:'';
            position: absolute;
            width: 90%;
            height: rem(27);
            background: rgba(240, 240, 240, 0.49);
            border-radius: 16px;
            position: absolute;
            left: 5%;
            bottom: rem(-12);
            z-index: 2;
        }
    }


    .decor {
        &_1 {
            width: rem(147);
            height: rem(147);
            top: 0%;
            left: 3%;
        }
        &_2 {
            bottom: -1%;
            left: 9%;
        }
        &_3 {
            bottom: 20%;
            right: 10%;
        }
    }
}


//====================================================================================================
.experts {
    background-color: #FAFBFD;
    @include adaptiveValue("padding-top",105,30);
    @include adaptiveValue("padding-bottom",115,20);
    // .experts__container
    &__container {
    }
    // .experts__statistic
    &__statistic {
    }
    // .experts__body
    &__body {
    }
}



.statistic-experts {
        max-width: rem(654);
        margin: 0 auto;
        position: relative;
        @include adaptiveValue("margin-bottom",80,45);
    // .statistic-experts__body

    &__body {
        position: relative;

        .decor {
            &_1 {
                width: rem(65);
                height: rem(65);
                transform: rotate(-30deg);
                border-radius: rem(16);
                bottom: rem(-30);
                left: -3%;
            }
            &_2 {
                width: rem(96);
                height: rem(96);
                top: rem(-50);
                left: 34%;
                transform: rotate(23deg);
            }
            &_3 {
                width: rem(127);
                height: rem(127);
                bottom: -9%;
                right: -9%;
                transform: rotate(-30deg);
            }
        }
    }
}

.body-statistic-experts {
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: rem(16);
    overflow: hidden;
    position: relative;
    z-index: 2;
    // .body-statistic-experts__list

    &__list {
        display: flex;
        justify-content: space-between;
        gap: rem(15);
        align-items: center;
        padding: rem(28) rem(80);
        @media (max-width:$tablet){
            flex-wrap: wrap;
        }
        @media (max-width:$mobile){
            flex-direction: column;
            padding: rem(20) rem(10); 
        }
    }

    // .body-statistic-experts__item

    &__item {
        text-align: center;
    }

    // .body-statistic-experts__value

    &__value {
        font-weight: 700;
        font-size: rem(36);
        line-height: math.div(43,36);
        letter-spacing: 0.14em;
        color: $accentColor;
    }

    // .body-statistic-experts__title

    &__title {
        font-weight: 700;
        font-size: rem(11);
        line-height: math.div(13,11);
        letter-spacing: 0.37em;
        text-transform: uppercase;
        color: #000;
    }

    
}

//====================================================================================================
.body-experts {
    display: flex;
    @media (max-width:$mobile){
        flex-direction: column; 
    }
    // .body-experts__block-text

    &__block-text {
        flex: 0 1 50%;
        align-self: center;
        padding: 0px rem(15) 0px rem(40);
        .block-text__text {
            max-width: rem(363);
        }
        @media (max-width:$mobile) {
            margin-bottom: rem(30);
            padding: 0;
            .block-text__text {
                max-width: none;
            } 
        }
    }

    // .body-experts__video

    &__video {
        flex: 0 1 50%;
        padding: 0px 0px percent(284,1057) 0px;
        position: relative;
        @media (max-width:$mobile){
            padding: 0px 0px percent(284,521) 0px;
        }
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
            border-radius: 8px;
        }
    }
}

//====================================================================================================

.healthcare {
    @include adaptiveValue("padding-top",80,20);
    @include adaptiveValue("padding-bottom",30,10);
    // .healthcare__container

    &__container {
    }

    // .healthcare__block-text

    &__block-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("margin-bottom",45,30);
        .block-text__text {
            max-width: rem(600);
            text-align: center;
        }
    }

     // .healthcare__list

    &__list {
        display: grid;
        @include adaptiveValue("padding-left", 35,0,1087,768);
        @include adaptiveValue("padding-right", 35,0,1087,768);
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
        @include adaptiveValue("gap", 72, 15);
    }

    // .healthcare__item

    &__item {
    }

}

//====================================================================================================

.item-healthcare {
    
    position: relative;


	// .item-healthcare__body

	&__body {
        padding: rem(36) rem(17);
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        position: relative;
        z-index: 2;
	}


    // .item-healthcare__image-ibg
    &__image-ibg {
        padding: 0px 0px percent(72,278) 0px;
        @include adaptiveValue("margin-bottom",60,20);
    }

    // .item-healthcare__title

    &__title {
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(22,16);
        text-align: center;
        letter-spacing: 0.08em;
        color: #000000;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    // .item-healthcare__text

    &__text {
        line-height: math.div(17,12);
        text-align: center;
        letter-spacing: 0.08em;
    }


    &_1 {
        .decor {
            &_1 {
                width: rem(65);
                height: rem(65);
                transform: rotate(-30deg);
                border-radius: rem(16);
                bottom: -1.875rem;
                left: -3%;
            }
            &_2 {
                width: rem(96);
                height: rem(96);
                top: 15%;
                right: -19%;
                transform: rotate(23deg);
            }
        }
    }
    &_2 {
        .decor {
            &_1 {
                width: rem(127);
                height: rem(127);
                transform: rotate(-30deg);
                bottom: rem(-30);
                right: -27%;
            }

        }
    }
    &_3 {
        .decor {
            &_1 {
                width: rem(65);
                height: rem(65);
                transform: rotate(-30deg);
                border-radius: rem(16);
                top: -10%;
                right: -9%;
                @media (max-width:rem(564)){
                        top: 81%;
                        right: 91%;
                    }
            }

        }
    }
}
//====================================================================================================


